<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" >
<head>
</head>
<body>

<section layout:fragment="header" class="jumbotron">
	<div class="container">
		<h1>Home</h1>
		<p>AdWAVE manages creating ads based on page posts. The poeple engaging with the page post are used as a seed for lookalike audiences, making use of Facebook's algorithms to target people most likely to respond to the ad.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Start!</a></p>
	</div>
</section>

<section layout:fragment="content" class="container">
	Test content
</section>

</body>
</html>